@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

img{
    max-width: 100%;
}

body, main, html {
  height: 100vh;
}

main {
    background : #2a2929;
}

.car-container  {
  background-image:  url("../assets/images/Car-without-bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.car-container .components {
    border: 1px solid red;

    position: relative;
    width: 64%;
    margin: 42vh auto 0;
    height: 60vh;
}
.car-container .components .dashboard {
    border: 1px solid white;
}
.car-container .components .steer-wheel {
    position : absolute;
    right:14%;
    width: 20%;
} 


/* ====================== PEDALS ======================*/
.pedal {
    position: absolute;
    display: block;
    height: 90px;
    width: 67px;
    perspective: 700px;
    bottom: 38%;
}
.pedal>* {
    border-radius: 25%;
    padding: 10px;
    height: 90px;
    width: 60px;
    background: repeating-linear-gradient( 90deg, #606060, #000000 10px);
    transform: rotateX(0deg);
    transform-origin: 0 100%;
    transition: all 600ms ease-in-out;
    will-change: transform;
    filter: drop-shadow(-4px 50px 30px #000000);
}
.pedals .pedal-brake {
    right: 24%;
}
.pedals .pedal-accelerator {
    right: 17%;
}

.pedal .accelerator:hover {
    transform: rotateX(40deg);
}
.pedal .brake:hover {
    transform: scale(0.8);
}
/* Can not be defined in css, since values has to be calculated
@keyframes steerWheel {
    
} */